a {
    font-size: 18px;
}

body {
    text-align: center ;
    margin: 0px auto;
    
}

.headStyle {

    color:white;
  
    line-height: 1.2;
  }



.header{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.display-4{
    font-size:30px !important;
}







.headerBg{
    background-color: #0074D9;;
    
}


.headerBg p{
    margin-bottom: 0px;
}



@media(min-width:992px){
    .enviar-aula{
        display: none;
        margin-bottom: 5px !important;
    }

    .headerBg{
        background-color: #0074D9;;
        height: 200px;
        
        
    }
}

@media(max-width:575px){
    h1{
        font-size: 25px;
    }
    .btn-aula{
        display: none !important;
    }
    
    
}





.navbar{
    background-color: #0074D9;;
}



svg{
    display: inline-block;
    margin: 0;
}





/* O que é isso mesmo? */
.file-button{
    width: 30% !important;
}

/* ESTILO PARA LISTA DE ARQUIVO SELECIONADO */
/* Não é oficial, é só para destacar */
li.li-file-toupload{
    background: var(--light);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}