
/*Created by Ardora http://www.webardora.net*/
body {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
background-image:url("images/none");
background-position:center;
background-repeat:repeat;
background-color:#FFFFFF;
	margin: 0;padding: 5px;font-size:13px;color: #7F7772;
}
h1, h1 a, h2, h2 a, h3, h3 a {
	margin: 0;
	text-decoration: none;
	font-weight: normal;
	color: #6AA2FD;
}
h1 {letter-spacing: -3px;font-size: 2.6em;}
h2 {letter-spacing: -2px;font-size: 2em;}
h3 {margin-bottom: 2em;font-size: 1em;font-weight: bold;}
p, ol, ul {margin: 0;line-height: 200%;}
a {color: #6AA2FD;}
a:hover {text-decoration: none;color: #FF7400;}
#header {width: 100%;height: 70px;margin: 0 auto;}
#logo h1{float: left;color: #3B3B3B;}
#logo h1 {margin:0;padding-left:5px;font-size: 4em;}
#logo p {
	float:right;
	margin: 0 0 0 -30px;
	padding: 0;
	line-height: normal;
	letter-spacing: -1px;
	font-size: 1.8em;
	font-weight: bold;
}
#menuPrincipal {
	width: 100%;height: 40px;margin: 0 auto;
	background-repeat:repeat-x;
	background: #6AA2FD url(images/menu.gif);
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5); box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);
}

#menuPrincipal ul {margin: 0;padding: 0;list-style: none;}
#menuPrincipal li {display: inline;}
#menuPrincipal a {
	display: block;
	float: left;
	padding: 10px 10px 0 10px;
	text-decoration: none;
	font-size: 1.6em;
	font-weight: bold;
	color: #FFFFFF;
}
#menuPrincipal a:hover {
	color:#000000;
	border-color:#FFFFFF;
	border-left-style:dotted;
	border-right-style:dotted;
	border-width:thin;
}
#page {width: 100%;margin: 0 auto;padding: 5px 0;}
#areaContido {float: left;width: 79%;}
.post { text-align:justify;}
.post .title h2 {font-size: 2.2em;}
.post .title p {margin: 0;line-height: normal;color: #BABABA;}
.post .title p a {color: #BABABA;}
.post .entry {padding-top: 1px;padding-bottom: 1px;}
.post .links {width: 410px;height: 29px;margin: 0;padding: 6px 0 0 20px;}
.post .links a {
	padding: 0 23px;
	text-decoration: none;
	font-weight: bold;
}
.post .links a:hover {text-decoration: underline;}
.post .links .more {background: url(images/img09.gif) no-repeat;}
.post .links .comments {background: url(images/img10.gif) no-repeat;}
#menu {float: right;width: 18%;}
#menu ul {margin: 0;padding: 0;list-style: none;}
#menu li ul {padding:0;line-height: 200%;}
#menu li li {margin: 0;padding-left: 15px;	}
#menu h2 {height: 30px;padding: 0 0 0 5px;
	background: #FFB700 url(images/submenu.gif);
	letter-spacing: -1px;font-size: 1.6em;color: #FFFFFF;
}
#menu a {padding-left:5px;padding-top:0;padding-bottom:0;}
#footer {clear: both;width: 100%;border-top: 4px solid #76ACFD;}
#footer p {margin: 0 0 5px 0;text-align: center;line-height: normal;font-size: .9em;}
#footer a {text-decoration: none;}
object{overflow:hidden;}
