/*Creado con Ardora - www.webardora.net
bajo licencia Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)
para otros usos contacte con el autor*/
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {line-height: 1.15;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body {margin: 0;}
article,aside,footer,header,nav,section {display: block;}
h1 {font-size: 2em;margin: 0.67em 0;}
figcaption,figure,main {display: block;}
figure {margin: 1em 40px;}
hr {box-sizing: content-box;height: 0;overflow: visible;}
pre {font-family: monospace, monospace;font-size: 1em;}
a {background-color: transparent;-webkit-text-decoration-skip: objects;}
abbr[title] {border-bottom: none;text-decoration: underline;text-decoration: underline dotted;}
b,strong {font-weight: inherit;}
b,strong {font-weight: bolder;}
code,kbd,samp {font-family: monospace, monospace;font-size: 1em;}
dfn {font-style: italic;}
mark {background-color: #ff0;color: #000;}
small {font-size: 80%;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
audio,video {display: inline-block;}
audio:not([controls]) {display: none;height: 0;}
img {border-style: none;}
svg:not(:root) {overflow: hidden;}
button,input,optgroup,select,textarea {font-family: sans-serif;font-size: 100%;line-height: 1.15;margin: 0;}
button,input {overflow: visible;}
button,select {text-transform: none;}
button,html [type="button"],[type="reset"],[type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {border-style: none;padding: 0;}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
fieldset{padding: 0.35em 0.75em 0.625em;}
legend {box-sizing: border-box;color: inherit;display: table;max-width: 100%;padding: 0;white-space: normal;}
progress {display: inline-block;vertical-align: baseline;}
textarea {overflow: auto;}
[type="checkbox"],[type="radio"] {box-sizing: border-box;padding: 0;}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"]{-webkit-appearance: textfield;outline-offset: -2px;}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button;font: inherit;}
details,menu {display: block;}
summary {display: list-item;}
canvas {display: inline-block;}
template{display: none;}
[hidden]{display: none;}
/*!END normalize.css v7.0.0*/
.ui-corner-all{ -webkit-border-radius: 4px; border-radius: 4px;}
body{background-color:black;}
#ardoraMain{ font-family:Verdana, Geneva, sans-serif; color: #F0F0F0; padding: 5px; position: relative;}
#ardoraEnu{ font-size: 18px; position: relative; padding: 5px; margin-bottom: 10px;
text-align: justify;
}
#ardoraAlumSCORM{visibility: hidden;padding:0px;margin:0px;position: absolute;height: 15px;width: 250px;bottom: 0px;right: 0px;cursor: pointer;border-style: dotted;
border-width: 1px;-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);font-size: 10px;
background:rgba(255,128,0,0.5);}
#ardoraAlumSCORM p{padding:0px;margin:0px;padding-left: 2px;}
#ardoraActCanvas{z-index: 0; position: absolute; visibility:hidden;top:0; left:0;}
#ardoraAct{position: relative; margin-left: 10px; margin-right:10px; padding:0 0 0 0; float: left;
}
#ardoraTab{width: 70px; height:320px;position: relative; visibility: visible;padding:5px;float:left;}
.bLetter{display: table; font-size:24px;width: 36px;height:36px;border-style:solid;text-align:center;cursor:pointer;
border-radius:4px;position:absolute;background-color:#91962F;color:#FFFDFD;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);
}
.bLetter p{padding:0px;margin:4px 0 0 0;}
.letterOk{opacity:0.5;display:table;font-size:24px;width:36px; height:36px;border-style:solid;text-align:center;cursor:not-allowed;
-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;position:absolute;}
.letterOk p{padding: 0px; margin: 4px 0 0 0;}
.bGame{display: table; font-size:36px;width:48px;height:48px;border-style:solid;text-align:center;cursor:auto;
-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;position:absolute;
-webkit-box-shadow:inset 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow:inset 4px 4px 4px rgba(50, 50, 50, 0.5);
border-width:1px;}
.bGame p{padding: 0px; margin: 4px 0 0 0;}
.imaLeft{margin-right:5px; margin-bottom:5px;} .imaRight{margin-left:5px; margin-bottom:5px;}
#ardoraQuest{font-family:Verdana, Geneva, sans-serif;font-size:14px;color:#FF0000;font-weight:bolder;text-align: justify;padding: 0 5px 0 5px;} #ardoraImage{width: 100%; text-align: center;} #ardoraQuest img{cursor: pointer;}
