#ardoraMain{ font-family:Verdana, Geneva, sans-serif;background-color:#FFFDFD; padding: 5px; position: relative;}
#ardoraEnu{ font-size: 14px; position: relative; padding: 5px; margin-bottom: 10px;
text-align: justify;
}
#ardoraAct{text-align: center;}
